<h2 class="text-center text-info m-5 p-2">Offer detail</h2>

<div *ngIf="offer" class="container">
	<div class="jumbotron">
	  <h1 class="display-4 text-center">{{ offer.destination }}</h1>
	  <p class="lead text-center">{{ offer.duration }}</p>
	  <hr class="my-4">
	  <h4 class="text-right mb-4">{{ offer.price | currency:'EUR' }}</h4>

	  <div class="accordion" id="accordionExample">
		  <div class="card">
		    <div class="card-header" id="headingOne">
		      <h2 class="mb-0">
		        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Description
		        </button>
		      </h2>
		    </div>

		    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
		      <div class="card-body">
		        {{ offer.descriptionLong }}
		      </div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h2 class="mb-0">
		        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Another info
		        </button>
		      </h2>
		    </div>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
		      <div class="card-body">
		        {{ offer.descriptionLong }}
		      </div>
		    </div>
		  </div>
		</div>

	  <a class="btn btn-primary text-light btn-lg mt-4" role="button" (click)="addToCart(offer)" data-toggle="modal" data-target="#staticBackdrop">Get the offer</a>

	  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">The offer has been added to the cart</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        To finish the offer go to the cart
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/cart">Cart</button>
	      </div>
	    </div>
	  </div>
	</div>


	</div>
</div>