<div class="container">
  <div class="jumbotron shadow p-3 mb-5 mt-5 rounded">
    <h1 class="display-4">Cart</h1>
    <div class="cart-item" *ngFor="let item of items">
      <span><h3>{{ item.destination }} {{ item.price | currency:'EUR' }}</h3></span>
    </div>
    <hr class="my-4">
    <ng-template [ngIf]="total >= 200 && total < 500">
      <h2 class="font-italic text-danger">DISCOUNT 10%</h2>
      <h2>TOTAL {{discountTen | currency:'EUR'}}</h2>
    </ng-template>
    <ng-template [ngIf]="total >= 500">
      <h2 class="font-italic text-danger">DISCOUNT 20%</h2>
      <h2>TOTAL {{discountTwenty | currency:'EUR'}}</h2>
    </ng-template>
    <ng-template [ngIf]="total < 200">
      <h2>TOTAL {{total | currency:'EUR'}}</h2>
    </ng-template>

    <form [formGroup]="payment" class="mt-5 mb-5" (ngSubmit)="onSubmit()">
	
	<label for="firstName">First name</label>
    <input type="text" formControlName="firstName" class="form-control" id="firstName">

    <label for="lastName">Last name</label>
    <input type="text" formControlName="lastName" class="form-control" id="lastName">

    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email">

	<label for="number">Number</label>
    <input type="text" formControlName="number" class="form-control" id="number">

    <input *ngIf="payment.valid" type="submit" class="btn btn-primary btn-lg btn-block mt-5 mb-2" value="Pay" data-toggle="modal" data-target="#staticBackdrop">

	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">Thank you</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        Enjoy your vacation!
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	</form>

  </div>
</div>
